{% extends 'base.html.twig' %}

{% block title %}Webcrate Admin Panel{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
    <script>
        var user='{{ app.user.email }}';
    </script>
    <div id="app"></div>
{% endblock %}
