{% extends 'base.html.twig' %}

{% block title %}Webcrate Admin Panel{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
    <script>
        var user = '{{ app.user ? app.user.email : '' }}';
        var soft = {{ soft|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
    </script>
    <div id="app"></div>
{% endblock %}
